/*@font-face {
    font-family: ;
    src: url();
}

body{
    background-image: url();
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}*/

p{
    color: white;
}

div{ 
    background-color: black;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}